@font-face {
  font-family: "KochiGothic";
  src: url("/fonts/kochi-gothic.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "KochiGothic", serif;
  background-image: url('/background.jpg'), url('/backpattern.jpg');
  background-size: contain, auto;
  background-position: center, top left;
  background-attachment: fixed, fixed;
  background-repeat: no-repeat, repeat;
}

.hero {
  min-height: 100vh;
  position: relative;
  cursor: pointer;
}

.vn-text {
  color: white;
  font-size: 46px;
  position: absolute;
  left: 12vw;
  top: 72vh;
  -webkit-text-stroke: 0.5px black;
  text-shadow: -4px -4px 6px rgba(0, 0, 0, 0.4);

  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0;
}

.next-indicator {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2vw;

  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}
